// color para los botones
$colorAdd: rgb(0, 132, 255);
$colorDelete: rgb(235, 88, 88);
$colorEdit: #0DCAF0;


// color para los textos
$colorText: #fff;


// color para los fondos
$colorAddSoft: rgba(0, 132, 255, 0.438);


// color para los fondos de redes sociales
$fondoGit: rgb(54, 70, 93);
$fondoEmail: rgb(219, 68, 55);
$fondoLinkedin: rgb(0, 119, 181);